
@{
    ViewBag.Title = "Inicio";
}


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" ; style="height:40%">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<style>

    .lista {
        border-radius: 69px 69px 69px 69px;
        -moz-border-radius: 69px 69px 69px 69px;
        -webkit-border-radius: 69px 69px 69px 69px;
        padding: 15px;
        border: 2px solid white;
        border-color: white;
        font-size: 20px;
        text-align: center;
        background-color: black;
        color: white;
    }


    .boton2 {
        background-color: black;
        border-bottom-color: white;
        border-radius: 6px;
        border-style: double;
    }

        .boton2:hover {
            background-color: darkgrey;
            color: wheat;
            border-bottom-style: double;
            border-style: inset;
        }

    .boton-lista {
        background-color: black;
        color: white;
    }
</style>

@*Aca va el nombre del establecimiento*@
<div class="container-fluid">
    <div class="row" style="color:white">
        <div class="col-lg-offset-3">
            <h2>
                El establecimiento seleccionado es:
                @Html.Name((string)ViewBag.establecimiento)
            </h2>
        </div>
    </div>
</div>


<div class="container-fluid"  style="margin-top:2%">
    <div class="row slider-text align-items-center">
        <div class="col-lg-offset-2">
            @Html.DropDownList("idSector", (IEnumerable<SelectListItem>)ViewBag.Sectores, "Seleccionar Sector", new { @class = "lista", id = "filtro-sector" })

        </div>
        @* Boton de Obtener Semanal *@
        <div class="col-lg-offset-1">
            <button class="boton-lista btn-lg py-3 px-4" style="grid-column-end:span 3" href="/Semanal/reporte">
                @Html.ActionLink("Obtener Semanal", "SemanalSector", new { idSector = "1" }, new { id = "accionSector" })
            </button>
        </div>
    </div>
</div>




<script type="text/javascript">
    var elementoA = document.getElementById("accionSector");
    elementoA.onclick = function () {
        var vinculo = elementoA.href;
        var guillePuto = vinculo.lastIndexOf("=");
        var nuevoVinculo = vinculo.substring(0, guillePuto);
        nuevoVinculo += "=";
        nuevoVinculo += obtenerId();
        elementoA.href = nuevoVinculo;

    };

    function obtenerId() {
        var nuevoComboBox = document.getElementById("filtro-sector");
        var indice = nuevoComboBox.options.selectedIndex;
        var option = nuevoComboBox.options[indice];

        return option.value.toString();

    }



</script>
