@model IEnumerable<KlinicosDirectivos.ViewModels.Semanal>

@{

    ViewBag.Title = "Semanal Atenciones Policlinico";
}

<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        google.charts.load('current', {packages: ['corechart', 'bar']});
        google.charts.setOnLoadCallback(drawMultSeries);

        function drawMultSeries() {
        var data = google.visualization.arrayToDataTable([
        ['Profesional', 'Pacientes', 'Atenciones efectivas'],

        @foreach (KlinicosDirectivos.ViewModels.Semanal semanal in Model){

            <text>

            ['@semanal.NomyAp()', @semanal.cantidadAtenciones, @semanal.cantidadEvoluciones],

            </text>

        }

        
        ]);

        var options = {
        title: 'Cantidad de Atenciones Por Profesional',
        chartArea: {width: '50%'},
        hAxis: {
        title: 'Atenciones',
        minValue: 0
        },
        vAxis: {
        title: 'Profesional'
        }
        };

        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
        chart.draw(data, options);
        }


    </script>
</head>

<h2>Semanal Atenciones Policlinico</h2>
<div id="chart_div" style="width:80%; height: 500px;"></div>


